/set22/set22_8/nbproject/private/
/set22/set22_8/build/
/set22/set22_10/nbproject/private/
/set22/set22_10/build/
/set-23/JavaApplication12/nbproject/private/
/set-23/set23_1/nbproject/private/
/set-23/set23_1/build/
/set-23/set23_2/nbproject/private/
/set-23/set23_2/build/
/set-23/set23_3/nbproject/private/
/set-23/set23_3/build/
/set-23/set23_5/nbproject/private/
/set-23/set23_5/build/
*.rar